{% assign page = site.pages | where: 'page', 'about' %}
{% assign page = page[0] %}

<div class="page page-closed" id='about-page'>        
    <div class="about-container">
        <!-- <i onclick="closePages()" class="far fa-window-close"></i> -->
        <div class="about-image">
            {% for image in site.static_files %}
                {% if image.path contains page.about_image | default: about %}
                    <img class="image" src="{{ site.baseurl }}{{ image.path }}" alt="No image">      
                {% endif %}
            {% endfor %}
            
        </div>
        <div class="about-content">
            <h1>{{page.title}}</h1>
            {% if page.cv_file_name %}
            <i class="fas fa-file-alt"></i>
            <a href="{{site.baseurl}}/assets/cv/{{page.cv_file_name}}" download>My CV</a>
            {% endif %}
            <br>
            <p>{{page.content}}</p>
        </div>
    </div>  
</div>