<!-- {% assign contact = site.pages | where: 'page', 'contact' %}
{% assign contact = contact[0] %} -->
<!-- 
{% assign social = site.pages | where: 'page', 'footer' %}
{% assign social = social[0] %} -->

<div class="page page-closed" id='contact-page'>
    <div class="contact-container">
        <!-- <i onclick="closePages()" class="far fa-window-close fa-window-contact-close"></i>     -->
        <div class="contact-info">
            
            <h1 >{{ contact.title }}</h1>
            {% if contact.phone %}
            
            <label>Phone:</label>
            <a href="tel:{{contact.phone}}" > {{ contact.phone }}</a>
            <br>
            {% endif %}
            {% if site.email %}
            <label>Email:</label>
            <a href="mailto:{{contact.email}}">{{ site.email }}</a>
            <br>
            {% endif %}
            
            <p>{{ contact.content }}</p>
        </div>
    </div>
</div>