<!-- {% assign contact = site.pages | where: 'page', 'contact' %}
{% assign contact = contact[0] %} -->
<!-- 
{% assign social = site.pages | where: 'page', 'footer' %}
{% assign social = social[0] %} -->

<div class="lightbox-dark lightbox-dark-closed" id='contact-lightbox'>
    
    <div class="lightbox-light">
        

        <div class="contact-container">
            <!-- <i onclick="closePages()" class="far fa-window-close fa-window-contact-close"></i>     -->
            <div class="contact-info">
                
                <h1 >{{ contact.title }}</h1>
                {% if contact.phone %}
                
                <label>Phone:</label>
                <a href="tel:{{contact.phone}}" > {{ contact.phone }}</a>
                <br>
                {% endif %}
                {% if site.email %}
                <label>Email:</label>
                <a href="mailto:{{site.email}}">{{ site.email }}</a>
                <br>
                {% endif %}
                
                <p>{{ contact.content }}</p>
            </div>
            

            

            <!-- <form class="form" action="https://formkeep.com/f/906f4582b214">
            
                <label for="name">
                    <span>Name</span>
                    <input type="text" name="name" required >
                </label>
                
    
                <label for="email">
                    <span>Email</span>
                    <input type="email" id="email-address" name="email" required>
                </label>
                
    
                <label for="message">
                    <span>Message</span>
                    <textarea name="message" id="" cols="30" rows="10" required></textarea>
                </label>

                <label for="send">
                    <span></span>
                    <input type="submit" value="Send">
                </label>
                
                
            </form> -->
        </div>
        
    </div>
</div>