{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="menu">

    <a class="menu-item" id="about-nav" onclick="showPage('about')">Me</a>

    <a  onclick="closePagesAndProjects()"><img class="logo" src='{{ "/assets/img/other/Logo.png" | prepend: site.baseurl | prepend: site.url }}' alt="Sofia Deneke"></a>
    
    <a class="menu-item" id="contact-nav" onclick="showPage('contact')">Contact</a>

</nav>