  
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='{{ site.description }}'>
  
    <title>{{ site.title }}</title>
  
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href='{{ site.baseurl }}/assets/css/styles.css' rel='stylesheet' type='text/css'>
    <!-- <link rel="shortcut icon" href='{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}' /> -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?" />
    <script src="https://kit.fontawesome.com/0a6eba4e94.js" crossorigin="anonymous"></script>
    <script  type="text/javascript" src='{{ site.baseurl }}/assets/js/app.js'></script>
  
  </head>