.about-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    --about-container-padding-top: 5vh;
    padding-top: var(--about-container-padding-top);
}


.about-image{
    width: 40%;
    padding-right: 5%;
}

.about-content{
    width: 100%;
    
}

@media only screen and (min-width: 800px){

    .about-container{
        flex-direction: row;
        --about-container-padding-top: 2vh;
        padding-top: var(--about-container-padding-top);
        
    }
}