
html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    background: var(--background-color);
}

h1, h2{
    font-family: var(--title-font);
    font-weight: var(--title-font-weight);
    font-size: calc(var(--title-font-size) * 0.8);
    color: var(--title-color);
}

h3, h4{
    font-family: var(--subtitle-font);
    font-weight: var(--subtitle-font-weight);
    font-size: calc(var(--subtitle-font-size) * 0.8);
    color: var(--subtitle-color);
}

p{
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
}

a {
    font-family: var(--link-font);
    font-weight: var(--link-font-weight);
    color: var(--link-color);
    color: inherit; 
    text-decoration: inherit; 
}

.body{
    display: flex;
    flex-direction: column;
    min-height: var(--body-min-height);
    
}

.lightbox-dark{
    position: absolute;
    left:0;
    width: 100%;
    background: var(--background-color);
    z-index: 11;

    max-height: 0%;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.lightbox-dark-open{
    max-height: 200vh;
}

.lightbox-light{
    position: relative;
        opacity: 1;
    background: var(--background-color);

    min-height: var(--body-min-height);
    max-height: 200vh;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 0 auto ;
    width: var(--page-width);

}

.left-column{
    max-width: 100%;
    float: none;
    margin-right: 0%;
}

.right-column{
    max-width: 100%;
    float: none;
}




.hide-projects{
    height: 0px;
    overflow: hidden;
}

@media only screen and (min-width: 1200px){
    
    h1, h2{
        font-size: var(--title-font-size);
    }

    h3, h4{
        font-size: var(--subtitle-font-size);
    }

    p{
        font-size: var(--text-font-size);
    }

    a{
        font-size: var(--link-font-size);
    }

    .left-column{
        max-width: 45%;
        float: left;
        margin-right: 1%;
    }

    .right-column{
        max-width: 50%;
        float: right;
    }
}

@media only screen and (min-width: 1500px){
    
    .left-column{
        max-width: 25%;
        float: left;
        margin-right: 1%;
    }

    .right-column{
        max-width: 70%;
        float: right;
    }

    
}

.devtag{
    opacity: 0.2;
    text-align: center;
}