.fab{
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: var(--social-media-icon-color);
}

.fab:hover {
        opacity: 0.7;
}

.far:hover {
    opacity: 0.7;
}

.fa-window-close{
    position: absolute;
    top: 5vh;
    right: 0;
    color: var(--close-button-color);
    font-size: 20pt;
}

.fa-window-contact-close{
    
    top: var(--contact-container-padding-top); //Same as contact-container padding
    right: 35%;
    
}