.footer-container{
    width: 100%;
    background: var(--background-color);
    margin: 0 auto 0 auto;
    height: var(--footer-height); 
}

.footer-item{
    width: var(--page-width);
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(var(--footer-height) - 2vh);
    
}

.social-media-links{
    display: flex;
    justify-content: space-evenly;
    
}

.devtag{
    opacity: 0.15;
    // --devtag-width: 20vw;
    // width: var(--devtag-width);
    text-align: center;
    

    // left: calc((100vw - var(--devtag-width))/2);

    // bottom: 1vh;
}