
.menu{
    width: var(--page-width);;
    margin: 0 auto 0 auto;
    height: var(--header-height); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;   
}

.menu-item{
    border: 1px var(--line-color) solid;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
}

.menu-item:hover{
    border: 1px var(--hover-and-selected-color) solid;   
}

.selected{
    border: 1px var(--hover-and-selected-color) solid;   ;
}

.logo{
    width: 250px;
    
}

.logo:hover{
    width: 270px;
    
}