.projects{
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.show-projects{
    max-height: 1000vh;   
    transition: max-height 1.2s ease-in-out; 
}

.project-container{
    width: var(--page-width);;
    padding: 0px 1% 10px 1%;
    margin:  1% auto 0 auto;  
    position: relative;
    border-bottom: 1px solid var(--line-color);
}

.project-container:hover{
    border-bottom: 1px solid var(--hover-and-selected-color);
}

.image-container {
    column-gap: 5px;
    padding: 0;
    margin: 0;
  }
  
.image-container > * {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.image{
    max-width: 100%;
    padding-bottom: 5px;
}

.video-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-subtitle{
    float:left;
    margin-bottom: 0px;
}

.project-title{
    margin-top: 0px;
    margin-bottom: 0px;    
}

.project-title-container:hover{
    cursor: pointer;
}

.project-subheading{
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.project-year{
    float:right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-text{
}

.content-container{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.open-content-container{
    max-height: 200vh;
}


