:root {
    // Title
   --title-font: syne, Helvetica, Arial, sans-serif; //There are several font names to fall back to if the user doesnt have the first font installed.
   --title-font-weight: normal; //Use Css keywords found here: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight or a hundred based number such as 100, 200 ,300, the higher the number the heavier the weight
   --title-font-size: 28pt;
   --title-color: black;

    // Subtitle
   --subtitle-font: syne, Helvetica, Arial, sans-serif; //There are several font names to fall back to if the user doesnt have the first font installed.
   --subtitle-font-weight: normal; //Use Css keywords found here: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight or a hundred based number such as 100, 200 ,300, the higher the number the heavier the weight
   --subtitle-font-size: 16pt;
   --subtitle-color: black;

    // Text
   --text-font: syne, Helvetica, Arial, sans-serif; //There are several font names to fall back to if the user doesnt have the first font installed.
   --text-font-weight: normal; //Use Css keywords found here: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight or a hundred based number such as 100, 200 ,300, the higher the number the heavier the weight
   --text-font-size: 14pt;
   --text-color: black;

    // Links    
   --link-font: syne, Helvetica, Arial, sans-serif; //There are several font names to fall back to if the user doesnt have the first font installed.
   --link-font-weight: normal;
   --link-font-size: 14pt;
   --link-color: black;

    // Colors
    --background-color:#f3f7fb;
    --line-color: lightgrey;
    --social-media-icon-color: black;
    --close-button-color: lightgrey;
    --hover-and-selected-color: grey;


    // Size contstraints, vh stands for viewport height, which is a value between 0 - 100 describing the height of the browser window
    // Can change width, but don't change height without talking to Oskar
    --page-width: 80%;
    --header-height: calc(15vh - 8px);
    --footer-height: calc(10vh - 8px);
    --body-min-height: calc(100vh - (var(--header-height) + var(--footer-height)) - 16px);

}
